<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> event details page </title>
    <script src="app/lib/jquery.min.js"></script> 
    <script src="app/lib/bootstrap.min.js"></script>
    <script src="app/lib/underscore-1.4.4.min.js"></script>
    <script src="app/lib/angular/angular.min.js"></script>
	 <script src="app/lib/angular/angular-sanitize.js"></script>
    <link rel="stylesheet" href="app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app/css/app.css" />
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/EventController.js"></script>
    <script src="app/js/filters.js"></script>
</head>    
<body>
    
    <div class="container">
    
    <div class="navbar">
    <div class="navbar-inner">
    <ul class="nav">
    <li class="nav"><a href="NewEvent.html">Create Event</a></li>
    </ul>    
    </div>
    </div>

    <div ng-controller="EventController">
    <img src="app/img/angularjs-logo.png" />
    <div class="row">
    <div class="spann11">
        <h2 ng-bind="event.name | lowercase "></h2>
    </div>
</div>
    <div class="row">
    <div class="span3">
		
		
		
        <div><strong>time</strong>: {{event.time}}</div>
        <div><strong>date</strong>: {{event.date | date:"mediumDate"}}</div>
        <div><strong>price</strong>: {{34 | number:2 |currency}}</div>
    </div>

    </div>

    <div class="row">
            <div class="span4">
                <address>
                <div><strong>Address</strong></div>
                {{event.location.address}} <br />
                {{event.location.area}} || {{event.location.city}}
                </address>
            </div>
        
    </div>
	<hr />
    <h3> sessions </h3>
    
    orderBy : <select ng-model="order" >
                <option selected value="name">name</option>
                <option  value="dur">duration</option>
                <option value="-vote">votes</option>
                </select>

    filterBy : <select ng-model="data.level" >
                        <option value="">All</option>
                        <option value="basic">Introductory</option>
                        <option value="intermidiate">Intermidiate</option>
                        <option  value="Expert">Expert</option>
                        </select>
	<ul class="thumbnails">
	<li ng-repeat="session in event.sessions | orderBy:order |filter:data">
	<div class="row session">
	<div class="span0 well votingWidget">
	<div class="votingButton" ng-click="upvote(session)">
	<i class="icon-chevron-up icon-white"></i>
	</div>
	
	<div class="badge badge-inverse">
		{{session.vote}}
	</div>
	<div class="votingButton" ng-click="downvote(session)">
	<i class="icon-chevron-down icon-white"></i>
	</div>
	</div>
	<div class="well span9">
	<h4 class="well-title">{{session.name}}</h4>
	<h6 style="margin-top: -10px">{{session.tutor}}</h6>
	<span>Duration: {{session.dur | duration}}</span><br />
	<span>Level: {{session.level}}</span>
	<p>{{session.abs}}</p>
	</div>
	</div>
	</li>
	</ul>
	</ul>
    </div>

    </div>
</body>

</html>